In [3]:
import pandas as pd

df = pd.DataFrame({'A':['A','B','c','d','e'],'B':range(100,150,10),'C':range(110,160,10)})
df

   A    B    C
0  A  100  110
1  B  110  120
2  c  120  130
3  d  130  140
4  e  140  150

In [17]:
df['years'] = df.apply(lambda x: list(range(x['B'],x['C'])), axis=1)
df

   A    B    C                                              years
0  A  100  110  [100, 101, 102, 103, 104, 105, 106, 107, 108, ...
1  B  110  120  [110, 111, 112, 113, 114, 115, 116, 117, 118, ...
2  c  120  130  [120, 121, 122, 123, 124, 125, 126, 127, 128, ...
3  d  130  140  [130, 131, 132, 133, 134, 135, 136, 137, 138, ...
4  e  140  150  [140, 141, 142, 143, 144, 145, 146, 147, 148, ...

In [16]:
df.explode('years')

   A    B    C years
0  A  100  110   100
0  A  100  110   101
0  A  100  110   102
0  A  100  110   103
0  A  100  110   104
0  A  100  110   105
0  A  100  110   106
0  A  100  110   107
0  A  100  110   108
0  A  100  110   109
1  B  110  120   110
1  B  110  120   111
1  B  110  120   112
1  B  110  120   113
1  B  110  120   114
1  B  110  120   115
1  B  110  120   116
1  B  110  120   117
1  B  110  120   118
1  B  110  120   119
2  c  120  130   120
2  c  120  130   121
2  c  120  130   122
2  c  120  130   123
2  c  120  130   124
2  c  120  130   125
2  c  120  130   126
2  c  120  130   127
2  c  120  130   128
2  c  120  130   129
3  d  130  140   130
3  d  130  140   131
3  d  130  140   132
3  d  130  140   133
3  d  130  140   134
3  d  130  140   135
3  d  130  140   136
3  d  130  140   137
3  d  130  140   138
3  d  130  140   139
4  e  140  150   140
4  e  140  150   141
4  e  140  150   142
4  e  140  150   143
4  e  140  150   144
4  e  140  150   145
4  e  140  150   146
4  e  140  150   147
4  e  140  150   148
4  e  140  150   149